.balance {
    position: relative;
    height: 100%;

    @include card(20px 15px);

    @include media-mdx{
        @include card(20px);

        margin-top: 30px;
        height: auto;
    }

    &__wrap {
        position: relative;
        margin-top: 15px;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $separator;
    }

    &__item-icon {
        display: inline-flex;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    &__item-name {
        position: relative;
        display: flex;
        flex-direction: column;

        b{
            color: $dark;
        }

        span{
            font-size: 12px;
        }
    }

    &__item-curr {
        margin-left: auto;
        padding: 5px 0 5px 10px;

        b{
            color: $dark;
            font-size: 16px;
        }

        span{
            font-size: 12px;
        }
    }
}